In [17]:
import numpy as np
import pandas as pd

1. cctv 데이터를 다음과 같이 만들어 cctv.csv 파일에 저장하세요.
    - 구별    CCTV댓수  최근증가율
    - 1 종로구 1715         20.69
    - 2 중구    2447         78.98
    - 3 용산구 2611          78.64
        - 첫번째 행인 계는 삭제한다.
        - 최근증가율은 최근 3개년간의 CCTV 댓수의 합을 그 이전 모든 년도의 CCTV 댓수의 합으로 나눈 값으로 백분율 값이다.
        - 구별은 기존의 구분 열을 CCTV댓수는 기존의 총계 열을 이름만 변경한 것이다.

​

In [18]:
cctv = pd.read_csv('data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv', encoding='euc-kr')
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232

In [19]:
cctv = cctv[cctv.구분 != '계']
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232
5,광진구,"3,480",507,82,84,64,21,465,443,709,172,662,271

In [20]:
import warnings
warnings.filterwarnings('ignore')
columns = '구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
for col in columns[1:]:
    cctv[col] = cctv[col].str.replace(',','').astype(int)
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271

In [21]:
cctv['최근증가율'] = (cctv.T[10:13].sum() / cctv.T[2:10].sum() * 100).apply(lambda x: round(x, 2))
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근증가율
1,종로구,1980,36,540,107,161,131,158,152,69,250,85,291,46.23
2,중 구,2584,130,87,77,236,240,372,386,155,361,403,137,53.54
3,용산구,2847,44,50,68,83,295,491,115,322,623,422,334,93.94
4,성동구,4047,58,99,110,366,279,945,459,647,485,367,232,36.58
5,광진구,3480,507,82,84,64,21,465,443,709,172,662,271,46.53

In [22]:
cctv.drop(columns=['2013년 이전 설치된 CCTV','2013년','2014년','2015년','2016년','2017년','2018년','2019년','2020년','2021년','2022년'], axis=1, inplace=True)
cctv.head()

    구분    총계  최근증가율
1  종로구  1980  46.23
2  중 구  2584  53.54
3  용산구  2847  93.94
4  성동구  4047  36.58
5  광진구  3480  46.53

In [23]:
cctv.columns = ['구별', 'CCTV댓수', '최근증가율']
cctv.head()

    구별  CCTV댓수  최근증가율
1  종로구    1980  46.23
2  중 구    2584  53.54
3  용산구    2847  93.94
4  성동구    4047  36.58
5  광진구    3480  46.53

In [24]:
cctv['구별'] = cctv['구별'].str.replace(' ','')
cctv.head()

    구별  CCTV댓수  최근증가율
1  종로구    1980  46.23
2   중구    2584  53.54
3  용산구    2847  93.94
4  성동구    4047  36.58
5  광진구    3480  46.53

In [25]:
cctv.to_csv('data/cctv.csv')
cctv = pd.read_csv('data/cctv.csv')
del cctv['Unnamed: 0']
cctv.head()

    구별  CCTV댓수  최근증가율
0  종로구    1980  46.23
1   중구    2584  53.54
2  용산구    2847  93.94
3  성동구    4047  36.58
4  광진구    3480  46.53

​
2. 서울시 인구 데이터를 다음과 같이 만들어 pop.csv 파일에 저장하세요.
  - 구별     인구수  내국인  외국인  고령자  외국인비율  고령자비율
  - 종로구 153789 144683  9106    27818   5.92           18.09
  - 중구    131787 122499  9288    24392   7.05           18.51
  - 용산구 237285 222953  14332   39070   6.04           16.47
    - 첫번째 행인 합계는 삭제한다.
    - 외국인비율은 외국인 수를 총 인구수로 나눈 백분율 값이다.
    - 고령자비율은 65세 이상 인구 수를 총 인구수로 나눈 백분율 값이다.

In [26]:
df = pd.read_csv('data/서울시인구.tsv', sep='\s+')
df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
3,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"

In [27]:
df.drop(['세대당인구', '기간', '세대', '인구.1', '인구.2', '인구.4', '인구.5', '인구.7', '인구.8'], axis=1, inplace=True)
df.head()

   자치구         인구       인구.3     인구.6   65세이상고령자
0  자치구         합계        한국인    등록외국인   65세이상고령자
1  자치구          계          계        계   65세이상고령자
2   합계  9,736,027  9,509,458  226,569  1,605,416
3  종로구    153,789    144,683    9,106     27,818
4   중구    131,787    122,499    9,288     24,392

In [28]:
df = df[(df['자치구'] != '자치구') & (df['자치구'] != '합계')]
df.head()

   자치구       인구     인구.3    인구.6 65세이상고령자
3  종로구  153,789  144,683   9,106   27,818
4   중구  131,787  122,499   9,288   24,392
5  용산구  237,285  222,953  14,332   39,070
6  성동구  292,672  285,990   6,682   46,380
7  광진구  352,627  339,996  12,631   51,723

In [29]:
df.columns = ['구별', '인구수', '내국인', '외국인', '고령자']
df.head()

    구별      인구수      내국인     외국인     고령자
3  종로구  153,789  144,683   9,106  27,818
4   중구  131,787  122,499   9,288  24,392
5  용산구  237,285  222,953  14,332  39,070
6  성동구  292,672  285,990   6,682  46,380
7  광진구  352,627  339,996  12,631  51,723

In [30]:
columns = '구별,인구수,내국인,외국인,고령자'.split(',')
for col in columns[1:]:
    df[col] = df[col].str.replace(',','').astype(int)
df.head()

    구별     인구수     내국인    외국인    고령자
3  종로구  153789  144683   9106  27818
4   중구  131787  122499   9288  24392
5  용산구  237285  222953  14332  39070
6  성동구  292672  285990   6682  46380
7  광진구  352627  339996  12631  51723

In [31]:
df['외국인비율'] = (df.외국인/df.인구수 * 100).round(2)
df.head()

    구별     인구수     내국인    외국인    고령자  외국인비율
3  종로구  153789  144683   9106  27818   5.92
4   중구  131787  122499   9288  24392   7.05
5  용산구  237285  222953  14332  39070   6.04
6  성동구  292672  285990   6682  46380   2.28
7  광진구  352627  339996  12631  51723   3.58

In [32]:
df['고령자비율'] = (df.고령자/df.인구수 * 100).round(2)
df.head()

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
3  종로구  153789  144683   9106  27818   5.92  18.09
4   중구  131787  122499   9288  24392   7.05  18.51
5  용산구  237285  222953  14332  39070   6.04  16.47
6  성동구  292672  285990   6682  46380   2.28  15.85
7  광진구  352627  339996  12631  51723   3.58  14.67

In [33]:
df.reset_index(drop = True, inplace = True)
df.head()

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0  종로구  153789  144683   9106  27818   5.92  18.09
1   중구  131787  122499   9288  24392   7.05  18.51
2  용산구  237285  222953  14332  39070   6.04  16.47
3  성동구  292672  285990   6682  46380   2.28  15.85
4  광진구  352627  339996  12631  51723   3.58  14.67

In [34]:
df.to_csv('data/pop.csv')
df = pd.read_csv('data/pop.csv')
del df['Unnamed: 0']
df.head()

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0  종로구  153789  144683   9106  27818   5.92  18.09
1   중구  131787  122499   9288  24392   7.05  18.51
2  용산구  237285  222953  14332  39070   6.04  16.47
3  성동구  292672  285990   6682  46380   2.28  15.85
4  광진구  352627  339996  12631  51723   3.58  14.67